.cardTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.hands {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
}

.shuffling {
    pointer-events: none;
    opacity: .5;
}