.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 7em;
    border-radius: .5em;
    box-shadow: .5em .5em .5em darkgrey;
}

.unflipped {
    background-color: red;
}

.flipped {
    background-color: lightblue;
}

.text {
    font-size: .75em;
}