.cardReturnMenu {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.cardsAvailableToReturn {
    display: flex;
    flex-direction: column;
    gap: .1em;
    width: 100%;
}

.menuCard {
    cursor: pointer;
    background-color: aqua;
    border-radius: .3em;
    text-align: center;
}

.menuCard.selected {
    background-color: blue;
}

.returnButton>button {
    border-radius: 1em;
    background-color: yellow;
    cursor: pointer;
    text-align: center;
}

@media (min-width: 992px) {
    .menuCard:hover {
        background-color: red;
    }
}